<!-- <div class="row">

    <div class="col-10 offset-1 py-4">
        <h1>Dashboard</h1>

        <hr>

        <p>Esta página solo funciona si estás autenticado.</p>

        <h4>User info</h4>

         <pre>{{ usuario | json }}</pre> 

         <button class="btn btn-outline-dark col-3 mt-2" (click)="logout()">Logout</button>
    </div>
</div> -->

    

<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card mt-3 w-75 h-auto">
          <img src="assets/images/card1.jpg.jpg" class="card-img-top" alt="imagen1">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card mt-3 w-75 h-auto">
          <img src="assets/images/card2.jpg.jpg" class="card-img-top" alt="imagen2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card mt-3 w-75 h-auto">
          <img src="assets/images/card3.jpg.jpg" class="card-img-top" alt="imagen3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  